In [411]:
import pandas as pd

In [413]:
df = pd.read_csv("C:\\AI-ML\\MLProject\\Data\\preprocessed_data.csv")
df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI,Unnamed: 13
0,0,2,0.459055,-0.887294,-1.019934,-0.196409,1,1,0,0,1,0,50,-1.096808
1,1,1,-1.074161,0.823559,0.810663,0.906854,3,1,0,0,1,1,55,1.524563
2,2,1,0.075751,-0.738524,0.200464,-1.299671,3,1,0,0,0,1,51,-0.785192
3,3,2,0.586823,0.600405,1.420862,2.010117,1,1,0,0,1,1,48,0.267088
4,4,1,-1.074161,-1.333604,-1.630133,-1.851303,1,1,0,0,0,0,47,-0.885639

In [415]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69976 entries, 0 to 69975
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       69976 non-null  int64
 1   height       69976 non-null  int64
 2   weight       69976 non-null  float64
 3   ap_hi        69976 non-null  float64
 4   ap_lo        69976 non-null  float64
 5   cholesterol  69976 non-null  float64
 6   gluc         69976 non-null  int64
 7   smoke        69976 non-null  int64
 8   alco         69976 non-null  int64
 9   active       69976 non-null  int64
 10  cardio       69976 non-null  int64
 11  age_years    69976 non-null  int64
 12  BMI          69976 non-null  int64
 13  Unnamed: 13  69976 non-null  float64
dtypes: float64(5), int64(9)
memory usage: 7.5 MB

gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
age_years      0
BMI            0
Unnamed: 13    0
dtype: int64

In [421]:
X = df.drop(['cardio'] , axis=1)
y = df['cardio']

In [423]:
from sklearn.model_selection import train_test_split

X = df.drop(["cardio"], axis=1).values
y = df["cardio"].values

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [425]:
feature_columns = df.drop(["cardio"], axis=1).columns.tolist()
print(feature_columns)
print("Total features:", len(feature_columns))

['gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'age_years', 'BMI', 'Unnamed: 13']
Total features: 13

In [427]:
mean = X_train.mean(axis=0)
std = X_train.std(axis=0)

X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [430]:
from logistic_regression_manual import LogisticRegressionManual

model = LogisticRegressionManual()
model.fit(X_train, y_train)

In [431]:
# from sklearn.linear_model import LogisticRegression

# model = LogisticRegression(max_iter=1000)

In [432]:
model.fit(X_train, y_train)

In [435]:
y_pred = model.predict(X_test)

In [438]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.803729637039154
              precision    recall  f1-score   support

           0       0.00      0.00      0.00      2747
           1       0.80      1.00      0.89     11249

    accuracy                           0.80     13996
   macro avg       0.40      0.50      0.45     13996
weighted avg       0.65      0.80      0.72     13996

[[    0  2747]
 [    0 11249]]

C:\Users\er_dh\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\er_dh\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\er_dh\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [440]:
import joblib

joblib.dump(model, "trained_model.pkl")

['trained_model.pkl']

In [343]:
# model = joblib.load("trained_model.pkl") 
# to save model