In [270]:
import pandas as pd

In [272]:
df = pd.read_csv("C:\\AI-ML\\MLProject\\Data\\preprocessed_data.csv")
df.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
0,0,2,0.459311,-0.886772,-1.029053,-0.192608,1,1,0,0,1,0,50,-1.096287
1,1,1,-1.074539,0.824432,0.809550,0.915569,3,1,0,0,1,1,55,1.525452
2,2,1,0.075848,-0.737972,0.196682,-1.300785,3,1,0,0,0,1,51,-0.784628
3,3,2,0.587132,0.601231,1.422417,2.023747,1,1,0,0,1,1,48,0.267800
4,4,1,-1.074539,-1.333173,-1.641921,-1.854874,1,1,0,0,0,0,47,-0.885089

In [274]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69848 entries, 0 to 69847
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           69848 non-null  int64
 1   gender       69848 non-null  int64
 2   height       69848 non-null  float64
 3   weight       69848 non-null  float64
 4   ap_hi        69848 non-null  float64
 5   ap_lo        69848 non-null  float64
 6   cholesterol  69848 non-null  int64
 7   gluc         69848 non-null  int64
 8   smoke        69848 non-null  int64
 9   alco         69848 non-null  int64
 10  active       69848 non-null  int64
 11  cardio       69848 non-null  int64
 12  age_years    69848 non-null  int64
 13  BMI          69848 non-null  float64
dtypes: float64(5), int64(9)
memory usage: 7.5 MB

id             0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
age_years      0
BMI            0
dtype: int64

In [351]:
X = df.drop(['cardio' , 'id'] , axis=1)
y = df['cardio']

In [353]:
from sklearn.model_selection import train_test_split

X = df.drop("cardio", axis=1).values
y = df["cardio"].values

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [355]:
X_train

array([[ 3.13610000e+04,  1.00000000e+00, -1.79793295e-01, ...,
         1.00000000e+00,  5.20000000e+01, -5.81291620e-02],
       [ 5.30000000e+01,  1.00000000e+00,  7.58483090e-02, ...,
         1.00000000e+00,  4.90000000e+01, -3.38818929e-01],
       [ 1.56700000e+04,  1.00000000e+00, -1.84146372e+00, ...,
         1.00000000e+00,  5.00000000e+01,  3.41748440e-02],
       ...,
       [ 7.54930000e+04,  1.00000000e+00, -6.91076503e-01, ...,
         1.00000000e+00,  5.50000000e+01,  5.41214006e-01],
       [ 7.46460000e+04,  1.00000000e+00, -4.35434899e-01, ...,
         1.00000000e+00,  5.50000000e+01,  1.32754113e+00],
       [ 1.39700000e+04,  1.00000000e+00, -2.22492613e+00, ...,
         1.00000000e+00,  4.50000000e+01, -2.97660637e-01]])

In [357]:
mean = X_train.mean(axis=0)
std = X_train.std(axis=0)

X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

KeyError: Ellipsis

In [323]:
from logistic_regression_manual import LogisticRegressionManual

model = LogisticRegressionManual()
model.fit(X_train, y_train)

In [325]:
# from sklearn.linear_model import LogisticRegression

# model = LogisticRegression(max_iter=1000)

In [327]:
model.fit(X_train, y_train)

In [328]:
y_pred = model.predict(X_test)

In [331]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.7259126700071582
              precision    recall  f1-score   support

           0       0.70      0.78      0.74      6995
           1       0.75      0.67      0.71      6975

    accuracy                           0.73     13970
   macro avg       0.73      0.73      0.72     13970
weighted avg       0.73      0.73      0.72     13970

[[5482 1513]
 [2316 4659]]

In [341]:
import joblib

joblib.dump(model, "trained_model.pkl")

['trained_model.pkl']

In [343]:
# model = joblib.load("trained_model.pkl") 
# to save model